body{
    background-color: white;
}
/* PENCERE DARALTILINCA body'nin arkaplan rengini açık mavi yap */

@media only screen and (max-width: 600px) {
  body {
    background-color: black;
    color: #FFF;
  }

  h1{
    text-align: center;
  }
}
